* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

/*burger menu*/
#menu-btn {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* disable desktop logo on mobile */
#desktop-logo {
  display: none;
}

/*mobile nav menu (hidden on desktop)*/
#nav-menu {
  display: none;
  flex-direction: column;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 1px solid #ddd;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  z-index: 9;
}

/*mobile ul layout*/
#nav-menu ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

/* nav menu colours and padding */
#nav-menu ul li {
  padding: 0.75rem 1.5rem;
}

#nav-menu ul li a {
  color: #000;
  font-size: 1rem;
  display: block;
  text-decoration: none;
}

#nav-menu ul li:hover {
  background: #f5f5f5;
}

#nav-menu ul li a:hover {
  color:#333;
}

/*show burger menu when opened*/
#nav-menu.open {
  display: flex;
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap; 
  width: 100%;
  border-collapse: collapse; 
  margin-bottom: 20px;
}

table th, table td {
    text-align: left;
    padding: 12px 5px; 
    border: 1px solid black; 
}

table th {
    font-weight: bold;
    text-transform: uppercase; 
    font-size: 0.85em;
    letter-spacing: 0.5px;
}

form input[type="text"],
form input[type="number"],
form input[type="password"],
form input[type="datetime-local"],
form input[type="date"],
form select,
form textarea {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/*desktop mode*/
@media (min-width: 768px) {
  #menu-btn {
    display: none; /* hide burger */
  }

  #mobile-logo {
    display: none;
  }

  #desktop-logo {
    display: block;
  }

  #nav-menu {
    /*show contents of original navbar*/
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    background: none;
    box-shadow: none;
    border-top: 0px solid #ddd;
  }

  #nav-menu ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  table {
    display: table; 
    white-space: normal;
  }

  form input, form select, form textarea {
    width: auto;
    margin-bottom: 0;
  }
}

#flash-messages {
  list-style-type: none;
  text-align: center;
}

.flash-success {
  background: greenyellow;
}

.flash-error {
  background-color: tomato;
}

.flash-info {
  background-color: bisque;
}

.content-container {
  max-width: 1100px;
  margin: auto;
  padding: 1.5rem;
}

.view-mode {
  display: block;
}

.edit-mode {
  display: none;
}

.blue-btn {
  border: 1px solid #0074ff;
  color: #0074ff;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.1s;
}

.blue-btn:hover {
    border: transparent;
    color: transparent;
    background-color:#0074ff;
}

.red-btn {
  border: 1px solid red;
  color: red;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.1s;
}

.blue-btn:hover {
    border: white;
    color: white;
    background-color:#0074ff;
}

.red-btn:hover {
    border: white;
    color: white;
    background-color:red;
}

button:active {
    transform: scale(0.98);
}