.dash-section {
    margin-top: 2rem;
}

.header-1 {
    margin-bottom: 1.5rem;
}

.header-2 {
    margin-bottom: 0.5rem;
}

.blue-btn {
  border: 1px solid #0074ff;
  color: #0074ff;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.1s;
}

.blue-btn:hover {
    border: transparent;
    color: transparent;
    background-color:#0074ff;
}

.red-btn {
  border: 1px solid red;
  color: red;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.1s;
}

.blue-btn:hover {
    border: white;
    color: white;
    background-color:#0074ff;
}

.red-btn:hover {
    border: white;
    color: white;
    background-color:red;
}

button:active {
    transform: scale(0.98);
}

table {
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

td {
    padding-left: 2rem;
}