{% extends "layout-admin.html" %}
{% block page_header %}Account Management{% endblock %}
{% block admin_content %}
<section class="dash-section">
    <h2 class="header-2">Registered System Users</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.user_id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role | capitalize }}</td>
            <td style="display: flex; flex-wrap: wrap; gap: 15px; align-items: center;">
                <form method="POST" action="{{ url_for('admin.admin_update_password_route') }}" style="display: flex; gap: 5px; margin: 0; align-items: center;">
                    <input type="hidden" name="user_id" value="{{ user.user_id }}">
                    <input type="password" name="new_password" placeholder="New Password" required style="padding: 5px; max-width: 50%; margin: 0;">
                    <button type="submit" class="blue-btn" style="margin: 0;">Reset</button>
                </form>
                <form method="POST" action="{{ url_for('admin.admin_delete_account_route') }}">
                    <input type="hidden" name="user_id" value="{{ user.user_id }}">
                    <button class="red-btn" type="submit" style="margin: 0;">Delete account</button>
                </form>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5" style="text-align: center;">No users found.</td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}