{% extends "layout.html" %}
{% block title %}{% block page_header %}{% endblock %}| Bristol Community Events{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='user-dashboard.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='admin-dashboard.css') }}" />
{% endblock %}

{% block body %}
<div class="admin-nav">
    <a href="{{url_for('org.org_dashboard')}}">🏠 Organiser Home</a>
    <a href="{{url_for('org.org_profile')}}">👥 Edit Profile</a>
    <a href="{{url_for('org.org_events')}}">📅 Events</a>
    <a href="{{url_for('org.org_reports')}}">📊 Reports</a>
</div>
<div class="content-container">
    {% block admin_content %}
    {% endblock %}
</div>
{% endblock %}