{% extends "layout.html" %}
{% block title %}Admin Dashboard - {% block page_header %}{% endblock %}| Bristol Community Events{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='user-dashboard.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='admin-dashboard.css') }}" />
{% endblock %}

{% block body %}
<div class="admin-nav">
    <a href="{{url_for('admin.admin_dashboard')}}">🏠 Admin Home</a>
    <a href="{{url_for('admin.admin_events')}}">📅 Events</a>
    <a href="{{url_for('admin.categories_route')}}">🗂️ Categories</a>
    <a href="{{url_for('admin.locations_route')}}">🗺️ Locations</a>
    <a href="{{url_for('admin.admin_users')}}">👥 Users</a>
    <a href="{{url_for('reports.admin_reports')}}">📊 Reports</a>
</div>
<div class="content-container">
    {% block admin_content %}
    {% endblock %}
</div>
{% endblock %}