{% extends "layout.html" %} {% block title %} Home | Bristol Community Events {%
endblock %} {% block styles %}<link
  rel="stylesheet"
  href="{{ url_for('static', filename='index.css') }}"
/>
{% endblock %} {% block body %}
<section id="hero-container">
  <div id="hero-left">
    <div id="hero-text">
      <h1>Bristol's guide to what's on</h1>
      <p>Discover, book, and experience Bristol's best-kept secrets. From gigs and artisan markets to the next big game - if it's happening it's on our radar!</p>
    </div>
    <div class="search">
      <form>
        <input
          type="text"
          placeholder="Where to next?"
          size="30"
        />
      </form>

      <p id="hint">
        <i>Try: "street food", "tech meetup", "open mic"</i>
      </p>
    </div>
  </div>
</section>

<br />

{% if events %}
<div id="content-container">
  <h1 style="text-align: center">Upcoming events</h1>
  <section id="events">
    {% for event in events %}
    <a href="{{ url_for('event_details', event_id=event.event_id) }}" class="event-card">
      <h2>{{event.event_name}}</h2>
      <p>{{event.location_name}}</p>
      <p>{{event.start_date}} - {{event.end_date}}</p>
      <p>£{{event.original_price}}</p>
    </a>
    {% endfor %}
  </section>
</div>
{% endif %}

<section id="signup-cta" style="">
  <h1>Why book with BCE?</h1>
  <div id="signup-cta-reasons">
    <div class="bce-perks">
      <h2>💰</h2>
      <p><b>Early bird discounts</b></p>
      <p>Book ahead and save upto 20%!</p>
    </div>
    <div class="bce-perks">
      <h2>🎓</h2>
      <p><b>Student discount</b></p>
      <p>10% off every booking when you verify with a valid .ac.uk email.</p>
    </div>
  </div>
</section> 
{% endblock %}
